body {
  font-family: sans-serif;
  margin: 10px;
  background: #121212;
  color: #e0e0e0;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}

input {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background: #111111;
  color: #e0e0e0;
}

h2 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
  background: #1e1e1e;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #80cbc4;
  text-decoration: none;
  flex-grow: 1;
}

button {
  margin-left: 5px;
  background: #b71c1c;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 3px;
  cursor: pointer;
}
